<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>iPostOp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.megeshealth.ipostopcare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ipostop.megeshealth.com</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>dev.ipostop.app</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>docs.google.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>e-corelab.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>itrend.fr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>App would like to access your calendar to give you the ability to automatically insert or update your App scheduled meetings into your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>App would like to access your camera for your profile photo upload. Your camera wont be used for any other purpose or without your permission.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>App would like to access your Touch ID or Face ID to supplement the App authentication scheme with biometric authentication. It will let you access the App and its sensitive parts securely, with minimal effort.</string>
	<key>NSFaceIDUsageDescription - 2</key>
	<string>App would like to access your Touch ID or Face ID to supplement the App authentication scheme with biometric authentication. It will let you access the App and its sensitive parts securely, with minimal effort.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App would like to track your position to search nearby places so it could suggest you interesting locations or addresses wen you insert or update App meetings.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App would like to track your position to search nearby places so it could suggest you interesting locations or addresses wen you insert or update App meetings.</string>
	<key>NSLocationUsageDescription</key>
	<string>App would like to track your position to search nearby places so it could suggest you interesting locations or addresses wen you insert or update App meetings.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App would like to track your position to search nearby places so it could suggest you interesting locations or addresses wen you insert or update App meetings.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App would like to access your micropone for video calling. Your micropone wont be used for any other purpose or without your permission.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App would like to access your photo gallery for your profile photo upload. Your photos wont be shared without your permission.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>Ionicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
